<div class="p-2 h-100 navbar-light bg-background pt-2 border p-4 rounded">
    <section class="d-flex flex-column pt-2 g-4 py-1 px-2 align-items-center">
      <div class="mt-5">
        <div class="card shadow  align-items-center " style="width: 550px">
          <div class="card-body">
            <div class=" align-items-center">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" />
                                <label class="form-label" for="form3Example1">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control"/>
                                <label class="form-label" for="form3Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- username input -->
                    <div class="form-outline mb-3">
                        <input type="text" id="form3Example3" class="form-control"/>
                        <label class="form-label" for="form3Example3">UserName</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control"/>
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>

                     <!-- Mobile input -->
                     <div class="form-outline mb-3">
                        <input type="text" id="form3Example4" class="form-control"/>
                        <label class="form-label" for="form3Example4">Contact No</label>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-save text-white" type="submit">save</button>
                    </div>
                </form>
            
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>